.card-title {
  padding: 1rem;
}

.card-text {
  padding: 1rem;
}

.price {
  padding: 1rem;
  font-size: 32px;
}

.btn-outline-primary {
  color: #f60;
  border: 1px solid #f60;

  padding: 0.5rem 1rem;
}

.flex {
  display: flex;
  padding: 16px;
  justify-content: space-around;
}
