.section {
  margin: 32px 0;
}

.card {
  height: 100%;
}

.card-title {
  padding: 1rem;
}

.card-text {
  padding: 1rem;
  height: 80px;
}

.card-img-top {
  height: 100%;
}

.offer {
  margin-bottom: 32px;
}

.flex {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-around;
}

.price {
  color: #f60;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}
