.ordem-compra {
  margin-top: 50px;
  margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

select.ng-valid.ng-touched {
  border: 1px solid green;
}

.empty-cart {
  height: 300px;
  background-color: #fafafa;
  border-bottom: solid 1px #f0f0f0;
  justify-content: space-around;
  align-items: center;
}
