<div class="container">
  <div class="ordem-compra" *ngIf="idOrderPurchase === undefined">
    <form novalidate>
      <h5>Sua Compra</h5>
      <hr />

      <div
        class="form-row"
        style="
          background: #fafafa;
          padding: 20px;
          border-bottom: solid 1px #f0f0f0;
        "
      >
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid" />
        </div>
        <div class="form-group col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">29.90</div>
      </div>

      <div
        class="form-row"
        style="
          background: #fafafa;
          padding: 20px;
          border-bottom: solid 1px #f0f0f0;
        "
      >
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid" />
        </div>
        <div class="form-group col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">31.90</div>
      </div>

      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total do pedido: 61.80</h4>
        </div>
      </div>
      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control {{
              pristineStateAddress
                ? ''
                : validAddress
                ? 'is-valid'
                : 'is-invalid'
            }}"
            placeholder="Endereço"
            autocomplete="off"
            minlength="5"
            required
            [value]="address"
            #_inputAddress
            (input)="updateAddress(_inputAddress.value)"
          />
          <div *ngIf="pristineStateAddress == false">
            <div *ngIf="validAddress; else msgInvalidAddress">
              <small class="form-text text-success">Endereço válido</small>
            </div>
          </div>
          <ng-template #msgInvalidAddress>
            <div class="form-text text-danger">Endereço inválido</div>
          </ng-template>
        </div>

        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control {{
              pristineStateNumber ? '' : validNumber ? 'is-valid' : 'is-invalid'
            }}"
            placeholder="Número"
            autocomplete="off"
            minlength="1"
            required
            [value]="number"
            #_inputNumber
            (input)="updateNumber(_inputNumber.value)"
          />
          <div *ngIf="pristineStateNumber == false">
            <div *ngIf="validNumber; else msgInvalidNumber">
              <small class="form-text text-success"></small>
            </div>
          </div>
          <ng-template #msgInvalidNumber>
            <div class="form-text text-danger">Número inválido</div>
          </ng-template>
        </div>

        <div class="form-group col-md-4">
          <input
            type="text"
            class="form-control {{
              pristineStateComplement ? '' : validComplement ? 'is-valid' : ''
            }}"
            placeholder="Complemento"
            autocomplete="off"
            [value]="complement"
            #_inputComplement
            (input)="updateComplement(_inputComplement.value)"
          />
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-3">
          <select
            class="form-control {{
              pristineStatePaymentMethod
                ? ''
                : validPaymentMethod
                ? 'is-valid'
                : 'is-invalid'
            }}"
            #_selectMethod
            (change)="updatePaymentMethod(_selectMethod.value)"
          >
            <option value="">Selecione uma opção</option>
            <option
              value="cash"
              selected="{{ paymentMethod === 'cash' ? 'selected' : '' }}"
            >
              Dinheiro
            </option>
            <option
              value="card"
              selected="{{ paymentMethod === 'card' ? 'selected' : '' }}"
            >
              Débito
            </option>
          </select>

          <div class="invalid-feedback">
            Por favor, selecione uma forma de pagamento
          </div>
        </div>
      </div>

      <hr />
      <button
        type="button"
        class="btn btn-primary btn-lg"
        [disabled]="canFinish"
        (click)="finishOrder()"
      >
        Cofirmar compra
      </button>
    </form>
  </div>

  <div class="ordem-compra" *ngIf="idOrderPurchase !== undefined">
    <app-purchase-order-sucess
      [idOrderPurchase]="idOrderPurchase"
    ></app-purchase-order-sucess>
  </div>
</div>
