* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h5 {
  color: #999;
}

h4 {
  color: #f60;
  font-size: 32px;
}

h3 {
  color: #555;
}

.btn-outline-primary {
  color: #f60;
  border: 1px solid #f60;
  margin: 0;
}

.btn-outline-primary:hover {
  background-color: #f60;
  border: 1px solid #f60;
  color: #fff;
}

.btn-outline-success {
  border: 1px solid #006c67;
  color: #006c67;
}

.btn-outline-success:hover {
  background-color: #006c67;
  border: 1px solid #006c67;

  color: #fff;
}

.btn-primary {
  background-color: #f60;
  border: 1px solid #f60;
  color: #fff;
}

.btn-primary:hover {
  color: #f60;
  border: 1px solid #f60;
  margin: 0;
  background-color: transparent;
}

.nav-link {
  color: #f60;
}

.nav-link:hover {
  color: #cc5200;
}
